lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

.idea
*.iml

.DS_Store
Thumbs.db

.cache
.config
.data
.env
.firebase
.next
config
config.yaml
coverage
dist/**/*
node_modules
public
sw.*
